body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

p {
  line-height: 2em;
}

.ud-colors {
  color: #F5A623;
  font-weight: 500;
}

.text-muted {
  color: #BCBBBB;
}

.title-super {
  font-size: 50px;
  font-weight: 400;
}

.title-logo {
  margin-top: 20px;
}

.img-pad{
  margin-top: 20px;
}

.border {
  margin-top: 20px;
  padding: 5px 15px;
  border: 1px solid black
}
